<!DOCTYPE html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Legacy Music Downloader!</h1><br>
    <br>
    <h3>Legacy-music-downloader is a free music <br> download/streaming project for educational purposes.<br><br>This Shows that "With Python, Anything is Possible!"</h3>
    <br><br>
    <form action="#" method="post">
        <label for="search">Search:- </label>
        <input type="text" id="web-query" name="sear" placeholder="Enter Search...">
        <button type="submit">-></button>
    <br><br>
    <h3>For All Music Lovers by <a href="https://github.com/elmarcsalvador/">@elmarcsalvador</a>.</h3>
</body>
</html>